.app-body{
    background-color: rgb(40, 40, 40);
    color: rgb(191, 191, 191);
    font-family: 'Nunito';
}
.dropdown{
    display: none !important;
}
.links-container{
    display: flex;
    justify-content: right;
    height: 100%;
}
.sidenav-container{
    height: 90vh;
}
.sidenav{
    background-color: var(--primary-light);
}
.sidenav ul li{
    width: 100%;
}
@media (max-width: 768px) {
    .dropdown{
        display: flex !important;
        align-items: center;
    }
    .menu-opciones{
        display: none;
    }

}
