<div class="app-body">

    <mat-toolbar color="primary">

        <button type="button" mat-icon-button (click)="drawer.toggle()">
            <mat-icon aria-hidden="false" aria-label="">menu</mat-icon>
        </button>

        <button type="button" [routerLink]="['/']" mat-button>
            {{title}}
        </button>

    </mat-toolbar>

    <mat-drawer-container class="sidenav-container" autosize>

        <mat-drawer class="sidenav" #drawer mode="side">
            
            <ul *ngIf="estaLogueado()">
                <li [routerLink]="['/bookmarks']">
                    <button type="button" mat-button>
                        <mat-icon aria-hidden="false" aria-label="">bookmark</mat-icon>
                        &nbsp;
                        My bookmarks
                    </button>
                </li>
                <li [routerLink]="['/perfil']">
                    <button type="button" mat-button>
                        <mat-icon aria-hidden="false" aria-label="">person</mat-icon>
                        &nbsp;
                        My profile
                    </button>
                </li>
                <li (click)="signout()">
                    <button type="button" mat-button>
                        <mat-icon aria-hidden="false" aria-label="">logout</mat-icon>
                        &nbsp;
                        Log out
                    </button>
                </li>
            </ul>

            <ul *ngIf="!estaLogueado()" class="dropdown-menu">
                <li [routerLink]="['/signin']">
                    <button type="button" mat-button>
                        <mat-icon aria-hidden="false" aria-label="">login</mat-icon>
                        &nbsp;
                        Log in
                    </button>
                </li>
                <li [routerLink]="['/signup']">
                    <button type="button" mat-button>
                        <mat-icon aria-hidden="false" aria-label="">app_registration</mat-icon>
                        &nbsp;
                        Sign Up
                    </button>
                
                </li>
            </ul>
        </mat-drawer>
        
        <mat-drawer-content>
            <router-outlet></router-outlet>

            <app-modal></app-modal>
        </mat-drawer-content>

    </mat-drawer-container>

</div>


