<li>
    <div class="item">
        <a [href]="bookmark.link" target="_blank" class="data">
            <b class="item-nombre">
                {{bookmark.nombre}}
            </b>
            <p class="item-descripcion" *ngIf="bookmark.descripcion">
                {{bookmark.descripcion}}
            </p>
        </a>
        <div class="menu-container">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="abrirModal('editar-bookmark')">Editar</button>
                <button mat-menu-item (click)="eliminarBookmark()">Eliminar</button>
            </mat-menu>
        </div>
    </div>
</li>



