.perfil-container{
    justify-content: left;
    width: 95%;
    margin: auto;
    background-color: rgb(60, 60, 60);
    border-radius: 8px;
    padding: 25px;
}
form{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.botones{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: fit-content;
}
button, input{
    margin:10px;
}