<div class="title-container">
    <h1>
        <mat-icon aria-hidden="false" aria-label="">person</mat-icon>
        Mi Perfil
    </h1>
</div>
<div class="section-container">
    <div *ngIf="loadingData">
        <mat-spinner></mat-spinner>
    </div>
    <form *ngIf="!loadingData" [formGroup]="perfilForm" (ngSubmit)="editarUsuario()" class="form-group row form">

        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput type="text" [ngModel]="perfil?.firstName" formControlName="firstName" value="" id="firstName">
        </mat-form-field>


        <mat-form-field>
            <mat-label>Apellido</mat-label>
            <input matInput type="text" [ngModel]="perfil?.lastName" formControlName="lastName" id="lastName">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" [ngModel]="perfil?.email" formControlName="email" id="email">
        </mat-form-field>
        
        <div class="botones">
            
            <button mat-raised-button color="primary" [disabled]="!perfilForm.valid" type="submit">Guardar cambios</button>

            <button mat-raised-button type="button" (click)="abrirModal('usuario-eliminar')">Eliminar cuenta</button>

        </div>

    </form>
</div>

