
<div class="section-container">
    
    <div>
        <h1>Bookmarks App</h1>

        <h3>An example website where you can store bookmarks</h3>

        <p>
            Steps to get started
        </p>

        <ul>
            <li>
                First <a href=""[routerLink]="['/signup']">register</a> with an email (it can be a fake email because it is a test)
            </li>
            <li>
                Then log in and you can start managing your own bookmarks
            </li>
        </ul>

        <br>

        <div class="btn-container">

            <button mat-raised-button type="button" [routerLink]="['/bookmarks']">
                Log in
            </button>

            <br>

            <button mat-raised-button type="button" [routerLink]="['/bookmarks']" color="primary" >
                My bookmarks
            </button>

        </div>

      
   
    </div>

</div>