<ng-container class="modal-component" *ngIf="display$ | async as display">
  <section [class.open]="display === 'open'"
            (click)="close()">
    <div (click)="$event.stopPropagation()">
      <div class="modal-container">
        <div class="close-button">
          <button mat-icon-button 
                  type="button" 
                  (click)="close()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
       
        <div class="modal-content">
          <app-modal-content [content]="content$ | async" [bookmark]="bookmark$ | async" [usuario]="usuario$ | async"></app-modal-content>
        </div>
      </div>
    </div>
  </section>
</ng-container>