.titulo{
    text-align: center;
    padding: 50px;
}
.login-container{
    background-color: rgb(60, 60, 60);
    padding: 25px;
    border-radius: 8px;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.form-control{
    margin: 10px;
    width:  400px;
}
.btn-container{
    margin: auto;
    display: flex;
    justify-content: left;
}
.btn{
    max-width: 300px;
    margin: 10px;
}

@media (max-width: 640px) {
    .login-container{
        flex-direction: column;
    }
    .form-control{
        width: 80%;
    }
    .form{
        width: 100%;
        margin: auto;
    }
    .contenedor-titulo{
        width: 100%;
    }
}