
<div class="section-container">

    <div class="auth-form-container">

        <h2>Log In</h2>

        <form [formGroup]="loginForm" (ngSubmit)="signin()">

            <p style="color: red">{{error}}</p>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" id="email" placeholder="Email">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" id="password" placeholder="Contraseña" autocomplete="on">
            </mat-form-field>

            <br>
        
            <div class="btn-container">
                
                <button mat-raised-button [routerLink]="['/signup']">Sign Up</button>
    
                <button mat-raised-button color="primary" [disabled]="!loginForm.valid" type="submit">Accept</button>
                
            </div>
        
        </form>
    </div>

</div>






