<form [formGroup]="editBookmarkForm" (ngSubmit)="editarBookmark(bookmark!.id)" class="form-group">

    <h3>Edit bookmark</h3>

    <mat-form-field>
        <mat-label>Link</mat-label>
        <input matInput type="text" formControlName="link" id="link" placeholder="Link" value="{{bookmark!.link}}">
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" maxlength="40" formControlName="nombre" id="nombre" placeholder="Nombre" value="{{bookmark!.nombre}}">
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput type="text" maxlength="80" formControlName="descripcion" placeholder="Descripción" value="{{bookmark!.descripcion}}" id=""></textarea>
    </mat-form-field>

    <br>

    <div style="text-align: center;">
        <button mat-raised-button color="primary" [disabled]="!editBookmarkForm.valid" type="submit">Save</button>
    </div>
</form>