@font-face {
    font-family: 'Nunito';
    src: url('./assets/Nunito/static/Nunito-Regular.ttf');
}

:root {
    --primary: #1c1046;
    --primary-light: #bcb8ca;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.hide{
    display: none;
}
.show{
    display: block;
}
.section-container{
    display: flex;
    padding: 100px 0px;
    justify-content: center;
    
}
.title{
    font-size: 25px;
    font-weight: bold;
}
.title-container{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 95%;
    margin: auto;
    padding: 0px 20px;
}
li{
    list-style: none;
}
.small{
    font-size: 12px;
}

.boton-container{
    display: flex;
    justify-content: center;

}
.modal-form-item{
    min-width: 30em;
    margin: 10px;
}
.btn-container{
    display: inline-flex;
}
.btn-container button{
    margin: 8px 8px 8px 0;
}

.auth-form-contianer{
    min-width: 400px;
}
form{
    display: flex;
    flex-direction: column;
    margin: auto;
}
form mat-form-field {
    width: 320px;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 200px;
    height: 200px;
    max-height: fit-content;
    margin: 10px;
    background: none;
    border-radius: 5px;
    transition: all ease-in-out 0.3s;
    box-shadow: 0px 0px 5px 0.2px rgb(191, 191, 191);
  }
  .item:hover{
    box-shadow: 0px 0px 5px 0.5px grey;
    cursor: pointer;
  }
@media (max-width: 640px) {
  
}