<div class="title-container">
    <h1>
        <mat-icon aria-hidden="false" aria-label="" fontIcon="bookmark"></mat-icon>
        My bookmarks
    </h1>
</div>
<div *ngIf="loadingData" style="display: flex; width: 100%; justify-content: center;">
    <mat-spinner></mat-spinner>
</div>
<ul class="bookmarks-container" *ngIf="!loadingData">
    <div class="marcadores-vacio" *ngIf="!hayBookmarks">
        <img width="70" src="http://gifgifs.com//animations/animals/cats/sleeping.gif" border=0 alt="http://gifgifs.com" />
        <br>
        <span class="small">
            No bookmarks yet...
        </span>
    </div>
    <app-item-bookmark *ngFor="let bookmark of getBookmarks()" [bookmark]="bookmark"></app-item-bookmark>
    <li>
        <div class="item" (click)="abrirModal()">
            <mat-icon aria-hidden="false" aria-label="" fontIcon="add"></mat-icon>
        </div>
    </li>
</ul>

