<form [formGroup]="createBookmarkForm" (ngSubmit)="createBookmark()">

        <h3>Create bookmark</h3>

        <mat-form-field>
            
            <mat-label>Link</mat-label>

            <input matInput type="text" formControlName="link" id="link" placeholder="Link">
            
        </mat-form-field>

        <mat-form-field>

            <mat-label>Nombre</mat-label>

            <input matInput type="text" maxlength="40" formControlName="nombre" id="nombre" placeholder="Nombre">

        </mat-form-field>

        <mat-form-field>

            <mat-label>Descripción</mat-label>
          
            <textarea matInput type="text" maxlength="80" formControlName="descripcion" placeholder="Descripción" id=""></textarea>

        </mat-form-field>

    <br>

    <div class="boton-container">

        <button mat-raised-button color="primary" [disabled]="!createBookmarkForm.valid" type="submit">Confirm</button>

    </div>

</form>