<div class="signup-container">

    <div class="contenedor-titulo">
        <h3 class="titulo">¡Regístrate y comienza a admininstrar tus marcadores!</h3>
    </div>

    <form [formGroup]="signupForm" (ngSubmit)="signup()" class="form-group row form">

        <i class="small">
            {{error}}
        </i>

        <br>
    
        <div class="form-group col-md-3">
    
            <label for="email"><b class="small">Email</b></label>
    
            <input type="email" formControlName="email" id="email" placeholder="Email" class="form-control" ngModel>
    
        </div>
    
        <div class="form-group col-md-3">
    
            <label for="password"><b class="small">Contraseña</b></label>
    
            <input type="password" formControlName="password" placeholder="Contraseña" id="password" class="form-control" ngModel>
            
        </div>
    
        <br>
    
        <div class="btn-container">

            <button class="btn btn-secondary" [routerLink]="['/']">Iniciar sesión</button>
    
            <button class="btn btn-primary" type="submit" [disabled]="!signupForm.valid">Aceptar</button>
    
        </div>
        
    </form>
    
</div>
