<div class="section-container">

    <div class="auth-form-container">
        <h2>User Register</h2>
    
        <form [formGroup]="signupForm" (ngSubmit)="signup()">
    
            <p style="color:red">
                {{error}}
            </p>
    
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" id="email" placeholder="Email">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" placeholder="Contraseña" id="password">
            </mat-form-field>
        
            <br>
        
            <div class="btn-container">
    
                <button mat-raised-button [routerLink]="['/signin']">Log in</button>
        
                <button mat-raised-button color="primary" type="submit" [disabled]="!signupForm.valid">Accept</button>
        
            </div>
            
        </form>
    </div>

    
    
</div>
